.container {
  position: fixed;
  height: 100%;
  width: 100%;
}
.box {
  position: relative;
  color: white;
  display: grid;
  place-items: center;
  font-size: 10vw;
  font-weight: bolder;
  transition-duration: 0.5s;
}

.left {
  background-color: blue;
  float:left;
}

.right {
  background-color: red;
  float:right;
}

.message {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1vw;
  border: 0.2vw solid black;
  color: black;
  box-sizing: border-box;
  display: grid;
  place-content: center;
}

.smallImgContainer{
  display: flex;
  flex-wrap: nowrap;
}

@media screen and (min-width: 600px) {
  .box {
    height: 100%;
    width: 50%;
  }
  .message {
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    font-size: 1vw;
    padding: 2vw;
  }
  
  .smallImg{
    width: 2vw;
    height: 2vw;
    border: 0.2vw solid black;
    border-radius: 1vw;
  }
  
  .bigImg{
    height: 15vw;
    width: 15vw;
    border: 0.3vw solid black;
    border-radius:10vw ;
  }
}

@media screen and (max-width: 600px) {
  .box {
    height: 50%;
    width: 100%;
  }
  .message {
    top: 25%;
    left: 5%;
    width: 90%;
    height: 50%;
    padding: 1vw;
    font-size:4vw;
  }

  .smallImg{
    width: 10vw;
    height: 10vw;
    border: 0.5vw solid black;
    border-radius: 1vw;
  }
  
  .bigImg{
    height: 75vw;
    width: 75vw;
    border: 0.3vw solid black;
    border-radius:10vw ;
  }
}
